<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.art2000.calculator">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:allowBackup="true">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/StartTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="ru.art2000.calculator.action.CALCULATOR" />
                <action android:name="ru.art2000.calculator.action.CONVERTER" />
                <action android:name="ru.art2000.calculator.action.CURRENCIES" />
                <action android:name="ru.art2000.calculator.action.SETTINGS" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".settings.InfoActivity" android:label="@string/info">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".currency_converter.EditShownCurrencies" android:label="@string/currencies_list_modify" />
        <activity android:name=".unit_converter.AllUnitsActivity" />
        <activity android:name=".FistSetup" />
    </application>
</manifest>